# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General Settings
##########################################################################################################

general {
    # Energy Capacity of Batteries [range: 20 ~ 2147483647, default: 5000]
    I:battery_capacity=5000

    # Energy Capacity of High Capacity Batteries [range: 20 ~ 2147483647, default: 20000]
    I:battery_capacity_high=20000

    # Energy Capacity of Medium Capacity Batteries [range: 20 ~ 2147483647, default: 10000]
    I:battery_capacity_medium=10000

    # Disable Item Display Animation [default: false]
    B:disable_itemdisplay_animation=false

    # Machines like Microwaves use Redstone Power [default: true]
    B:use_power=true
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# Misc
##########################################################################################################

misc {
    # Disable the drop of an Empty bookshelf Item when a normal bookshelf is destroyed [default: false]
    B:disable_empty_bookshelf=false

    # Disable trash cans [default: false]
    B:disable_trash_can=false

    # Player takes damage when stepping on active Fryer [default: true]
    B:fryer_damage=true

    # Park paths can randomly drop flint instead of gravel [default: true]
    B:park_path_fint_drop=true

    # Sort Items Alphabetically in JEI [default: false]
    B:sort_alphabetically=false
}


##########################################################################################################
# power usage
#--------------------------------------------------------------------------------------------------------#
# Power Usage
##########################################################################################################

"power usage" {
    # Freezer Energy Usage / tick [range: 1 ~ 1000000, default: 1]
    I:freezer_usage=1

    # Fryer Energy Usage / tick [range: 1 ~ 1000000, default: 1]
    I:fryer_usage=1

    # Microwave Energy Usage / tick [range: 1 ~ 1000000, default: 2]
    I:microwave_usage=2

    # Oven Energy Usage / tick [range: 1 ~ 1000000, default: 1]
    I:oven_usage=1

    # Pan Energy Usage / tick [range: 1 ~ 1000000, default: 1]
    I:pan_usage=1
}


##########################################################################################################
# sound
#--------------------------------------------------------------------------------------------------------#
# Sounds
##########################################################################################################

sound {
    # Disable Microwave Sound [default: false]
    B:disable_microwave_sound=false

    # Disable toilet flush sound [default: false]
    B:disable_toilet_sound=false
}


